<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MailGuy</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="h-fit flex flex-col gap-10 items-center justify-center text-center">
            <div class="md:w-[50rem]" >
                <h1 class="text-6xl font-bold">MailGuy</h1>
                <p>
                    MailGuy is your go-to assistant for crafting perfect emails powered by the Google Gemini API.
                    Just fill out the simple form, provide the necessary details 
                    and MailGuy will generate a polished email for you in seconds.
                </p>
            </div>
            <form id="queryForms" action="/submit" method="POST" class="md:w-[50rem] flex flex-col items-center gap-2">
                <div class="grid md:grid-cols-[150px_250px] gap-6 mb-10 text-left items-center">
                    <label for="studentname">Student Name:</label>
                    <input class="border border-black" type="text" id="sname" name="studentname">
                    <label for="studentdetails">Student Details:<br>(Optional)</label>
                    <input class="border border-black h-min placeholder:text-sm" type="text" id="sdetails" name="studentdetails" placeholder="[RollNo/Grade/Class/Department]">
                    <label for="parentname">Parent Name:<br>(Optional)</label>
                    <input class="border border-black h-min" type="text" id="pname" name="parentname">
                    <label for="reason">Reason:</label>
                    <div class="flex flex-col gap-2">
                        <select id="reason" class="bg-white border border-black" name="reason" form="queryForms">
                            <option value="">Select a Reason</option>
                            <option value="medicalleave">Medical Leave</option>
                            <option value="personalreasons">Personal Reasons</option>
                            <option value="eventparticipation">Event Participation</option>
                            <option value="others">Others</option>
                        </select>
                        <input type="text" id="otherInput" name="otherinput" class="hidden border border-black"> 
                    </div>
                    <label for="date">Date & Time:</label>
                    <div class="flex flex-col gap-3">
                        <p class="block md:hidden">From:</p>
                        <input class="dateTime border border-black placeholder:text-sm" type="datetime-local" id="date-start" name="datestart" placeholder="Select DateTime start">
                        <p class="block md:hidden">To:</p>
                        <input class="dateTime border border-black placeholder:text-sm" type="datetime-local" id="date-end" name="dateend" placeholder="Select DateTime end">
                    </div>
                    <label for="otherDetails">Other Details:</label>
                    <textarea id="otherDetails" name="otherdetails" class="border border-black placeholder:text-sm text-gray" placeholder="Enter any additional specifics or comments for the prompt"></textarea>
                </div>
                <input class="border border-black w-36" type="submit" value="Submit">
                <input class="border border-black w-36" type="button" value="Reset" onclick="location.href='/';">
            </form>
<% if (locals.response){ %>
            <div class="md:w-[50rem] h-fit flex flex-col justify-center items-center">
                <h1 class="text-center">Generated Response:</h1>
                <div class="text-left">
                    <pre class="text-wrap font-sans mt-10"><%= response %></pre>
                </div>
                <a href="<%= mailto %>" type="button" class="w-36 border border-black">Send Mail</a>
            </div>
<% } %>
        </div>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script>
            flatpickr(".dateTime", {
                enableTime: true,
                altInput: true,
                altFormat: "F j, Y H i",
                dateFormat: "d-m-Y h:i",
                minDate: "today",
            });
            const dropdown = document.getElementById("reason");
            const otherInput = document.getElementById("otherInput");
            dropdown.addEventListener("change", function() {
            if (dropdown.value === "others") {
                otherInput.classList.remove("hidden");
                otherInput.classList.add("block");
            } else {
                otherInput.classList.remove("block");
                otherInput.classList.add("hidden");
            }});
        </script>
    </body>
</html>