<!DOCTYPE html>
<html class="scroll-smooth">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MailGuy</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="">
        <style>
       .glass {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}     
        </style>
    </head>
    <body onload="scrollSection()" class="text-white ">
            <div 
                class="relative top-0 left-0 w-screen h-screen scroll-smooth  overflow-y-scroll [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
            
            <nav class="h-min w-full flex flex-wrap bg-transparent text-white md:fixed top-0 z-10 align-items-center">
                <div class="p-5 basis-1/2 shrink">
                    <a href="#Home" class="text-4xl font-bold ">MailGuy</a>
                </div>
                <div  class="md:hidden flex basis-1/2 items-center justify-end px-5">
                    <button onclick="toggleButton()"><svg class="w-[50px]" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4ZM7 12C7 11.4477 7.44772 11 8 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H8C7.44772 13 7 12.5523 7 12ZM13 18C13 17.4477 13.4477 17 14 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H14C13.4477 19 13 18.5523 13 18Z" fill="#FFFF"></path> </g></svg></button>
                </div>
                <div id="navList" class="hidden w-full text-lg text-center md:basis-1/2 md:justify-end flex flex-col md:flex md:flex-row place-items-center gap-5 md:gap-5 mt-5 md:mt-0 md:px-7">
                    <a class="block" href="#Home">Home</a>
                    <a class="block" href="#formsSection">Form</a>
                    <% if (locals.response){ %> 
                    <a class="block" href="#responseSection">Response</a>
                    <% } %>
                    <a class="block" href="#instructionsSection">Guide</a>
                </div>
            </nav>
            <div id="Home" class="mx-5 md:mx-0 text-white h-[600px] md:h-screen md:h-screen text-center flex flex-col gap-5 md:gap-[50px] items-center justify-evenly md:justify-center" >
                <div class="">
                    <h1 class="md:mt-[80px] text-[60px]/[60px] md:text-[90px] font-bold">The AI Email Writer</h1>
                    <p class="mt-2 text-[14px] md:text-lg md:w-[50rem]">
                        MailGuy is your go-to assistant for crafting perfect emails powered by the Google Gemini API.
                        Just fill out the simple form, provide the necessary details 
                        and MailGuy will generate a polished email for you in seconds with a single click.
                    </p>
                </div>
                <div class="md:text-2xl text-[15px] md:mt-10 font-bold w-full flex  md:flex-row justify-center gap-2 md:gap-[200px]">
                    <p class="">1. Fill the Form</p>
                    <p class="">2. Generate the Email</p>
                    <p class="">3. Send the Email</p>
                </div>
                <div id="buttonHome" class="relative inline-flex items-center justify-center gap-4 group">
                    <div
                        class="absolute inset-0 duration-1000 opacity-60 transitiona-all bg-gradient-to-r from-indigo-500 via-pink-500 to-yellow-400 rounded-xl blur-lg filter group-hover:opacity-100 group-hover:duration-200"
                    ></div>
                    <a
                        role="button"
                        class="group relative inline-flex items-center justify-center text-md md:text-xl rounded-xl bg-gray-900 px-8 py-3 font-semibold text-white transition-all duration-200 hover:bg-gray-800 hover:shadow-lg hover:-translate-y-0.5 hover:shadow-gray-600/30"
                        title="payment"
                        href="#formsSection"
                        >Start Writing<svg
                        aria-hidden="true"
                        viewBox="0 0 10 10"
                        height="10"
                        width="10"
                        fill="none"
                        class="mt-0.5 ml-2 -mr-1 stroke-white stroke-2"
                        >
                        <path
                            d="M0 5h7"
                            class="transition opacity-0 group-hover:opacity-100"
                        ></path>
                        <path
                            d="M1 1l4 4-4 4"
                            class="transition group-hover:translate-x-[3px]"
                        ></path>
                        </svg>
                    </a>
                    </div>
            </div>
            <div id="formsSection" class="h-fit py-10 flex justify-center ">
                <div class=" py-5  flex flex-col items-center justify-center gap-5 ">
                <h1 class="text-7xl font-bold">Fill the Form</h1>
                <form id="queryForms" action="/submit" method="POST" class="mt-10 flex flex-col items-center gap-2">
                    <div class="grid md:grid-cols-[minmax(400px,_1fr)_minmax(400px,_1fr)] gap-10 mb-10 text-center justify-center items-center ">
                        <div class="flex items-center justify-center">
                            <label for="studentname" class="font-bold text-lg basis-[150px]">Student Name</label>
                            <input class="border rounded-lg py-3 px-3 mt-4 bg-black border-indigo-600 placeholder-white-500 text-white " type="text" id="sname" name="studentname">
                        </div>
                        <div class="flex items-center justify-center">
                            <label for="studentdetails" class="font-bold text-lg basis-[150px]">Student Details<br>(Optional)</label>
                            <input class="border rounded-lg py-3 px-3 mt-4 bg-black border-indigo-600 placeholder-white-500 text-white h-min" type="text" id="sdetails" name="studentdetails" placeholder="[RollNo/Grade/Class/Department]">
                        </div>
                        <div class="flex items-center justify-center">
                            <label for="parentname" class="font-bold text-lg basis-[150px]">Parent Name<br>(Optional)</label>
                            <input class="border rounded-lg py-3 px-3 mt-4 bg-black border-indigo-600 placeholder-white-500 text-white h-min" type="text" id="pname" name="parentname">    
                        </div>
                        <div class="flex items-center justify-center">
                            <label for="reason" class="font-bold text-lg basis-[150px]">Reason</label>
                            <div class="flex flex-col gap-2 basis-[250px]">
                                <select id="reason" class="border rounded-lg py-3 px-3 bg-black border-indigo-600 placeholder-white-500 text-white" name="reason" form="queryForms">
                                    <option value="" class="">Select a Reason</option>
                                    <option value="medicallbg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-[#1d4ed8] via-[#1e40af] to-[#111827]eave">Medical Leave</option>
                                    <option value="personalreasons">Personal Reasons</option>
                                    <option value="eventparticipation">Event Participation</option>
                                    <option value="others">Others</option>
                                </select>
                                <input type="text" id="otherReason" name="otherReason" class="hidden border rounded-lg py-3 px-3 mt-4 bg-black border-indigo-600 placeholder-white-500 text-white"> 
                            </div>
                        </div>
                        <div class="flex items-center justify-center">
                            <label for="date" class="font-bold text-lg basis-[150px]">Date & Time</label>
                            <div class="flex flex-col gap-3">
                                <p class="block md:hidden ">From:</p>
                                <input class="dateTime border rounded-lg py-3 px-3 mt-4 bg-black border-indigo-600 placeholder-white-500 text-white" type="datetime-local" id="date-start" name="datestart" placeholder="Select DateTime start">
                                <p class="block md:hidden">To:</p>
                                <input class="dateTime border rounded-lg py-3 px-3 mt-4 bg-black border-indigo-600 placeholder-white-500 text-white" type="datetime-local" id="date-end" name="dateend" placeholder="Select DateTime end">
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <label for="otherDetails" class="font-bold text-lg basis-[150px]">Other Details</label>
                            <textarea id="otherDetails" name="otherdetails" class="border rounded-lg py-3 px-3 mt-4 bg-black border-indigo-600 placeholder-white-500 text-white" placeholder="Enter any additional specifics or comments for the prompt"></textarea>
                        </div>
                        <div class="flex items-center justify-center">
                            <label for="email" class="font-bold text-lg basis-[150px]">Receiver email</label>         
                            <input class="border rounded-lg py-3 px-3 mt-4 bg-black border-indigo-600 placeholder-white-500 text-white" type="email" id="email" name="email"> 
                        </div>
                    </div>
                    <div id="buttonGenerate" class="relative inline-flex items-center justify-center gap-4 group">
                        <div
                            class="absolute inset-0 duration-1000 opacity-60 transitiona-all bg-gradient-to-r from-indigo-500 via-pink-500 to-yellow-400 rounded-xl blur-lg filter group-hover:opacity-100 group-hover:duration-200"
                        ></div>
                        <input
                            type="submit"
                            value="Generate"
                            class="group relative inline-flex items-center justify-center text-xl rounded-xl bg-gray-900 px-12 py-3 font-semibold text-white transition-all duration-200 hover:bg-gray-800 hover:shadow-lg hover:-translate-y-0.5 hover:shadow-gray-600/30"
                            >
                        </input>
                        </div>
                    <button
                        class="bg-gray-900 text-white text-center w-48 rounded-2xl h-12 mt-2 relative text-black text-xl font-semibold hover:bg-gray-800 hover:shadow-lg hover:-translate-y-0.5 hover:shadow-gray-600/30"
                        type="button"
                        onclick="location.href='/';"
                        >Reset</button>
                </form>
            </div>
        </div>
<% if (locals.response){ %> 
            <div id="responseSection" class="my-10 h-screen flex flex-col items-center justify-center">
                <div class="md:w-[50rem] flex flex-col justify-center items-center gap-2 ">
                    <h1 class="text-center mt-[80px] text-7xl font-bold">Generated Response</h1>
                    <div class="text-lg text-left">
                        <pre class="text-wrap font-sans mt-10"><%= response %></pre>
                    </div>
                    <div id="buttonGenerate" class="relative inline-flex items-center justify-center gap-4 group">
                        <div
                            class="absolute inset-0 duration-1000 opacity-60 transitiona-all bg-gradient-to-r from-indigo-500 via-pink-500 to-yellow-400 rounded-xl blur-lg filter group-hover:opacity-100 group-hover:duration-200"
                        ></div>
                        <a
                            href="<%= mailto %>"
                            class="group relative inline-flex items-center justify-center text-xl rounded-xl bg-gray-900 px-12 py-3 font-semibold text-white transition-all duration-200 hover:bg-gray-800 hover:shadow-lg hover:-translate-y-0.5 hover:shadow-gray-600/30"
                            >Send Mail
                        </a>
                        </div>
                    <button
                        class="bg-gray-900 text-white text-center w-48 rounded-2xl h-12 mt-2 relative text-black text-xl font-semibold hover:bg-gray-800 hover:shadow-lg hover:-translate-y-0.5 hover:shadow-gray-600/30"
                        type="button"
                        onclick="location.href='/';"
                        >Reset</button>
                </form>
                </div>
            </div>
<% } %>
             <div id="instructionsSection" class="scroll-smooth h-screen flex flex-col items-center justify-evenly">
                <h1 class="text-6xl  mt-[80px] text-center font-bold">
                    Step-by-Step Instructions
                </h1>
                <ol class="w-[25rem] my-10 flex flex-col gap-5 justify-evenly list-none text-left">
                    <li class="font-bold text-4xl flex items-center"><svg height="40px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 496.158 496.158" xml:space="preserve" fill="#000000" data-darkreader-inline-fill=""><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill: #FFFF;" d="M248.082,0.003C111.07,0.003,0,111.061,0,248.085c0,137,111.07,248.07,248.082,248.07 c137.006,0,248.076-111.07,248.076-248.07C496.158,111.061,385.088,0.003,248.082,0.003z" data-darkreader-inline-fill=""></path> <path style="fill: rgb(0,0,0)" d="M278.767,145.419c-3.126-4.003-7.276-6.006-12.451-6.006c-4.591,0-7.716,0.879-9.375,2.637 c-1.662,1.758-5.226,6.445-10.693,14.063c-5.47,7.617-11.744,14.502-18.823,20.654c-7.082,6.152-16.53,12.012-28.345,17.578 c-7.91,3.712-13.429,6.738-16.553,9.082c-3.126,2.344-4.688,6.006-4.688,10.986c0,4.298,1.586,8.082,4.761,11.353 c3.172,3.273,6.812,4.907,10.913,4.907c8.592,0,25.292-9.521,50.098-28.564V335.41c0,7.814,1.806,13.722,5.42,17.725 c3.612,4.003,8.397,6.006,14.355,6.006c13.378,0,20.068-9.814,20.068-29.443V161.972 C283.455,154.941,281.892,149.425,278.767,145.419z" data-darkreader-inline-fill=""></path> </g></svg><p>Fill the Form</p></li>
                        <ul class="text-sm/6 font-normal ml-10 list-disc">
                            <li>Enter the student's name, parent name, and reason for the email.</li>
                            <li>Pick the start and end date and time for the leave using the calendar.</li>
                            <li>Add any other details or comments (optional).</li>
                            <li>Enter the receiver's email address.</li>
                        </ul>
                    </li>
                    <li class="flex items-center font-bold text-4xl "><svg height="40px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 496.158 496.158" xml:space="preserve" fill="#000000" data-darkreader-inline-fill=""><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill: #FFFF;" d="M248.082,0.003C111.07,0.003,0,111.061,0,248.085c0,137,111.07,248.07,248.082,248.07 c137.006,0,248.076-111.07,248.076-248.07C496.158,111.061,385.088,0.003,248.082,0.003z" data-darkreader-inline-fill=""></path> <path style="fill: rgb(0,0,0)" d="M319.783,325.595c-4.005-3.124-9.814-4.688-17.432-4.688h-76.465c2.44-3.71,4.834-6.885,7.178-9.521 c5.468-6.64,15.55-15.967,30.249-27.979c14.696-12.012,25.17-20.824,31.421-26.44c6.249-5.614,12.378-13.378,18.384-23.291 c6.006-9.911,9.009-20.922,9.009-33.032c0-7.713-1.442-15.161-4.321-22.339c-2.882-7.178-6.91-13.5-12.085-18.97 c-5.177-5.468-11.183-9.764-18.018-12.891c-10.547-4.688-23.291-7.031-38.232-7.031c-12.403,0-23.218,1.831-32.446,5.493 s-16.846,8.473-22.852,14.429c-6.006,5.958-10.524,12.598-13.55,19.922c-3.028,7.324-4.541,14.355-4.541,21.094 c0,5.566,1.611,9.961,4.834,13.184s7.274,4.834,12.158,4.834c5.566,0,9.789-1.758,12.671-5.273 c2.879-3.516,5.468-8.544,7.764-15.088c2.293-6.542,3.93-10.547,4.907-12.012c7.324-11.229,17.381-16.846,30.176-16.846 c6.054,0,11.646,1.369,16.772,4.102c5.127,2.735,9.178,6.569,12.158,11.499c2.978,4.933,4.468,10.524,4.468,16.772 c0,5.763-1.392,11.646-4.175,17.651s-6.837,11.865-12.158,17.578c-5.324,5.713-11.989,11.403-19.995,17.065 c-4.493,3.028-11.964,9.352-22.412,18.97c-10.451,9.62-22.169,21.167-35.156,34.644c-3.126,3.321-6.006,7.887-8.643,13.696 c-2.637,5.812-3.955,10.474-3.955,13.989c0,5.47,2.051,10.231,6.152,14.282c4.102,4.054,9.814,6.079,17.139,6.079H306.6 c6.445,0,11.254-1.659,14.429-4.98c3.172-3.319,4.761-7.372,4.761-12.158C325.789,332.97,323.786,328.722,319.783,325.595z" data-darkreader-inline-fill=""></path> </g></svg><p>Generate the Email</p></li>
                        <ul class="text-sm/6 font-normal ml-10 list-disc">
                            <li>Click the Submit button to generate the email content.</li>
                        </ul>
                    <li class="flex items-center font-bold text-4xl "><svg height="40px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 496.158 496.158" xml:space="preserve" fill="#000000" data-darkreader-inline-fill=""><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill: #FFFF;" d="M248.082,0.003C111.07,0.003,0,111.061,0,248.085c0,137,111.07,248.07,248.082,248.07 c137.006,0,248.076-111.07,248.076-248.07C496.158,111.061,385.088,0.003,248.082,0.003z" data-darkreader-inline-fill=""></path> <path style="fill: rgb(0,0,0)" d="M319.637,269.711c-2.637-6.395-6.569-12.231-11.792-17.505c-5.226-5.273-11.646-9.961-19.263-14.063 c7.91-6.64,13.989-13.451,18.237-20.435c4.248-6.981,6.372-15.355,6.372-25.122c0-7.42-1.465-14.355-4.395-20.801 s-7.276-12.108-13.037-16.992c-5.763-4.882-12.55-8.617-20.361-11.206c-7.814-2.586-16.457-3.882-25.928-3.882 c-10.84,0-20.654,1.538-29.443,4.614s-16.139,7.155-22.046,12.231c-5.91,5.079-10.4,10.426-13.477,16.04 c-3.076,5.617-4.614,10.963-4.614,16.04c0,5.273,1.634,9.499,4.907,12.671c3.271,3.175,6.859,4.761,10.767,4.761 c3.319,0,6.249-0.586,8.789-1.758c2.538-1.172,4.296-2.783,5.273-4.834c1.659-3.809,3.49-7.86,5.493-12.158 c2-4.296,4.125-7.812,6.372-10.547c2.245-2.733,5.296-4.93,9.155-6.592c3.856-1.659,8.764-2.49,14.722-2.49 c8.789,0,15.77,2.71,20.947,8.13c5.175,5.42,7.764,11.891,7.764,19.409c0,9.865-3.248,17.432-9.741,22.705 c-6.496,5.273-14.234,7.91-23.218,7.91h-6.006c-6.935,0-12.158,1.442-15.674,4.321c-3.516,2.882-5.273,6.665-5.273,11.353 c0,4.786,1.465,8.521,4.395,11.206c2.93,2.687,7.079,4.028,12.451,4.028c1.172,0,3.809-0.194,7.91-0.586 c4.102-0.389,7.127-0.586,9.082-0.586c11.133,0,19.823,3.248,26.074,9.741c6.249,6.496,9.375,15.454,9.375,26.88 c0,7.716-1.831,14.502-5.493,20.361s-8.302,10.279-13.916,13.257c-5.617,2.98-11.451,4.468-17.505,4.468 c-10.547,0-18.727-3.296-24.536-9.888c-5.812-6.592-11.256-16.674-16.333-30.249c-0.783-2.245-2.442-4.175-4.98-5.786 c-2.541-1.611-5.177-2.417-7.91-2.417c-5.47,0-10.034,1.735-13.696,5.2c-3.662,3.468-5.493,8.034-5.493,13.696 c0,4.395,1.538,9.961,4.614,16.699s7.617,13.257,13.623,19.556s13.646,11.549,22.925,15.747c9.276,4.198,19.775,6.299,31.494,6.299 c11.522,0,22.046-1.831,31.567-5.493s17.748-8.739,24.683-15.234c6.933-6.493,12.181-13.891,15.747-22.192 c3.563-8.299,5.347-16.894,5.347-25.781C323.592,283.018,322.273,276.109,319.637,269.711z" data-darkreader-inline-fill=""></path> </g></svg><p>Send the Email</p></li>
                        <ul class="text-sm/6 font-normal ml-10 list-disc">
                            <li>Scroll down and click the Send Mail button.</li>
                            <li>Your email application will open with everything filled in. Just click Send!</li>
                        </ul>
                    <li class="flex items-center font-bold text-4xl "><svg height="40px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 496.158 496.158" xml:space="preserve" fill="#000000" data-darkreader-inline-fill=""><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill: #FFFF;" d="M248.082,0.003C111.07,0.003,0,111.061,0,248.085c0,137,111.07,248.07,248.082,248.07 c137.006,0,248.076-111.07,248.076-248.07C496.158,111.061,385.088,0.003,248.082,0.003z" data-darkreader-inline-fill=""></path> <path style="fill: rgb(0,0,0)" d="M324.983,279.892c-4.541-2.051-10.572-3.076-18.091-3.076h-6.299V163.437 c0-16.992-7.423-25.488-22.266-25.488c-4.591,0-8.521,1.538-11.792,4.614c-3.273,3.076-7.448,8.034-12.524,14.868l-77.637,103.857 c-2.149,2.833-3.955,5.226-5.42,7.178c-1.465,1.955-2.882,3.98-4.248,6.079c-1.369,2.101-2.394,4.102-3.076,6.006 c-0.685,1.904-1.025,3.786-1.025,5.64c0,7.228,2.318,12.941,6.958,17.139c4.637,4.2,11.595,6.299,20.874,6.299h73.535v27.246 c0,7.324,1.685,12.868,5.054,16.626s7.787,5.64,13.257,5.64c5.566,0,10.009-1.831,13.33-5.493c3.319-3.662,4.98-9.251,4.98-16.772 V309.63h8.936c7.42,0,12.987-1.293,16.699-3.882c3.71-2.586,5.566-6.713,5.566-12.378 C331.795,286.436,329.524,281.943,324.983,279.892z M263.973,276.816h-62.988l62.988-85.107V276.816z" data-darkreader-inline-fill=""></path> </g></svg><p>Reset if Needed</p></li>
                        <ul class="text-sm/6 font-normal ml-10 list-disc">
                            <li>Click Reset to clear the form and start over.</li>
                        </ul>
                    </li>
                </ol>
                <p class="text-4xl text-center font-bold m-5">That’s it—super easy!</p>
            </div>
            <div class="bg-black text-neutral-300 py-10 mt-16 flex justify-center items-center gap-5">
                <a href="#Home" class="text-2xl font-bold">MailGuy ©</a>
                <p>Made by <a class="underline" href="https://github.com/dharaniis">Dharani I S</a></p>
            </div>
        </div>
    </div>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script>
            flatpickr(".dateTime", {
                enableTime: true,
                altInput: true,
                altFormat: "F j, Y H i",
                dateFormat: "d-m-Y h:i",
                minDate: "today",
            });
            const dropdown = document.getElementById("reason");
            const otherInput = document.getElementById("otherReason");
            dropdown.addEventListener("change", function() {
            if (dropdown.value === "others") {
                otherInput.classList.remove("hidden");
                otherInput.classList.add("block");
            } else {
                otherInput.classList.remove("block");
                otherInput.classList.add("hidden");
            }});
            function scrollSection(){
            const section = document.getElementById('responseSection');
            section.scrollIntoView({
            top: section.offsetTop,
            behavior: 'smooth'
            });
            }
            function toggleButton(){
                document.getElementById("navList").classList.toggle("hidden");
            }
        
        </script>
    </body>
</html>